
@font-face {
  font-family: Gilroy-Medium;
  src: url(./font/Gilroy-Medium.ttf);
}
@font-face {
  font-family: Gilroy-black;
  src: url(./font/Gilroy-Black.ttf);
}
@font-face {
  font-family: Gilroy-semibold;
  src: url(./font/Gilroy-SemiBold.ttf);
}
@font-face {
  font-family: Gilroy-regularItalic;
  src: url(./font/Gilroy-RegularItalic.ttf);

}
@font-face {
  font-family: Gilroy-bold;
  src: url(./font/Gilroy-Bold.ttf);
}
@font-face {
  font-family: Gilroy-Regular;
  src: url(./font/Gilroy-Regular.ttf);
}

.row{
  margin: 0 !important;
}
body{
  font-family: Gilroy-semibold;
}
.box{
  background-color: #FFFDFA;
}
.nav-container{
  width: 100%;
}
.navlogo{
  width: 20%;
}
.list-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navlist{
  width: 70%;
  display: flex;
}
.navlist a{
  text-decoration: none;
  color: #232323;
  font-family: Gilroy-Medium;
}

.viewbtn{
  width: 280px;
}
a{
  text-decoration: none;
}

.logBtn{
  width: 120px;
  border: 1px solid #9B0000;
  color: #9B0000;
}
.moduletext{
  font-family: Gilroy regular;
}
.logBtn:hover{
  background-color: #9B0000;
  color: #FFFFFF;
}
.signBtn{
  width: 120px;
  background-color: #9B0000;
  color: #fff;
}
.signBtn:hover{
  color: #9B0000;
  border: 1px solid #9B0000;
}
.red{
  color: #9B0000;
}
.courses-dropdown{
  width: 600px;
  top:100%;
  display: none;
  padding: 2rem ;
  background-color: #FFFFFF;
  box-shadow: 0px -8.87px 20px -2.21742px rgba(16, 24, 40, 0.05), 0px 3.54787px 81px -2.6609px rgba(16, 24, 40, 0.05);
  border-radius: 16px;
  z-index: 1;
}
.courses-dropdown-links{
  color: #4E4E4E;
  font-family: Gilroy-Regular;
}
.courses-dropdown-links:hover{
  color: #011F5B;
  font-family: Gilroy-semibold;
}
.courses-dropdown li::marker{
  color: #9B0000;
  font-size: 27px;
}
.dpbigtext {
  color: #011F5B !important;
  font-family: Gilroy-semibold !important;
  font-size: 22px;
}
.more-dropdown{
  width: 300px;
  top:65%;
  display: none;
  padding: 1rem 2rem;
  background-color: #FFFFFF;
  box-shadow: 0px -8.87px 20px -2.21742px rgba(16, 24, 40, 0.05), 0px 3.54787px 81px -2.6609px rgba(16, 24, 40, 0.05);
  border-radius: 16px;
  z-index: 1;
}
.headerbg{
  background: linear-gradient(300deg, rgba(1, 31, 91, 0) 0.06%, rgba(1, 31, 91, 0.64) 54.48%, rgba(1, 31, 91, 0.9) 89.5%),url('./images/headerbgg.png');
  background-size:cover;
  background-repeat: no-repeat;
}
.headerbgmini{
  background: linear-gradient(270deg, rgba(1, 31, 91, 0) 0.02%, rgba(1, 31, 91, 0.24) 22.09%, rgba(1, 31, 91, 0.57) 47.13%, rgba(1, 31, 91, 0.9) 57.63%),url('./images/headerbg2.png');
  background-size:cover;
  background-repeat: no-repeat;
}
.header-maintext{
  width: 100%;
  color: #FFFFFF;
  font-family: Gilroy-bold;
  font-size: 53px;
}
/* .global{
  color: #9B0000;
} */
.header-text{
  width: 400px;
  color: #FFFFFF;
}
.header-logo{
  width: 300px;
  display: flex;
  justify-content: space-between;
  font-family:Gilory-regularItalic ;
  color: #FFFFFF;
}
.header-logomba{
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  column-gap:10px;
  color: #FFFFFF;
  /* justify-content: space-between; */
}
.header-logomba-two{
  font-family:Gilory-regularItalic ;
  padding-left: 5px;
  padding-top: 5px;
}
.header-btn{
  color: #011F5B;
  width: 300px;
  background-color: #fff;
}
.header-btn:hover{
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}
.header-btn2{
  width: 300px;
  color: #FFFFFF;
  background-color: inherit;
  border: 1px solid #FFFFFF;
}
.header-btn2:hover{
  color: #011F5B;
  background-color: #FFFFFF;
}
.iconw{
  width: 30px;
}
.benefit{
  background-color: #F5F6F8;
}
.benefit h1{
  color: #011F5B;
  font-size: 48px;
}
.ben-list{
  line-height: 40px;
  font-size: 18px;
  color: #232323;
  font-family: Gilroy-Medium;
}
.second-img{
  width: 80%;
}
.training{
  width: 100%;
  background: rgb(1, 31, 91, 0.04);
}
.training h5{
  color: #232323;
}

.training-box{
  width: 32%;
  background-color: #fff;
  border-radius: 24px;
  box-shadow:0px 0px 16px rgba(0, 0, 0, 0.16);
}
.training-text{
  font-family: Gilroy-Regular;
}
.training-logo{
  width: 100%;
}
.who-box{
  width: 23%;
  /* height: 241px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 280px; */
  padding: 1rem 0;
  box-sizing: border-box;
  background-color: #FFFFFF;
  border-radius: 20px;
  text-align: center;
  color: #4E4E4E;
}
.who-text{
  width: 95%;
font-family: 'Gilroy-Regular';
}
.row{
  box-sizing: border-box;
}
.cert-box{
  width: 23%;
  background: #FFFFFF;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.16);
  border-radius: 24px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cert-box h5{
  font-size: 18px;
}
.cert-text{
  font-size: 13.5px;
}
.certb{
  height: 100%;
}
.certbb{
  height: 100%;
}
.cert-btn{
  width: 300px;
  background-color: #9B0000;
  color: #FFFFFF;
}
.cert-btn:hover{
  background-color: inherit;
  border: 1px solid #9B0000;
  color: #9B0000;
}
/* .ag{
  font-size: 13.1px;
} */
.view{
  text-decoration: none;
  color: #9B0000;
}
.why-logo{
  width: 73%;
  border-radius: 24px;
  background-color: #232323;
  color: #FFFFFF;
}
.why-logo-img{
  width: 100%;
  /* background-size:contain ; */
  border-radius: 24px;
  object-fit: cover;
}
.why-second{
  background-color: #011F5B;
  color: #FFFFFF;
  border-radius: 24px;
}
.why-text{
  font-family: Gilroy-Regular;
}
.why-color2{
height: 350px;
  background-color: #9B0000;
}
.why-color3{
  background-color: #544848;
}
.say{
  width: 100%;
}
.quote{
  width: 25px;
}
.butgroup{
  width: 20%;
  border: 1px solid #9B0000;
  color: #9B0000;
  font-size: 18px;
}
.srchinp{
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.saylogoimg{
  width: 75%;
}
.saytext-box{
  width: 70%;
}
.say-text{
  width: 50%;
}
.say-comment{
  width: 60%;
}
.std{
  color: #011F5B;
}

#stdname{
  font-family: Gilroy-bold !important;
  color: #011F5B;
}
.stdtiny{
  font-family: Gilroy-Regular !important;
  color: #011F5B;
}
.std2{
  color: #9B0000;
}
.wrapper{
  width: 100%;
  background: url("./images/afro.png");
  height: 900px;
  position: relative;
  background-size: cover;
  /* 
  padding-top: 56.25%;
  background-repeat: no-repeat; */
}
.wrapper2{
  width: 100%;
  background: #FFFDFA;
  height: 800px;
  position: relative;
  background-size: cover;
}
.video{
  width: 70%;
  margin: auto;
  display: none;
 
}
.vid{
 margin-top: 15%;
}
.playimg{
position: absolute;
left: 45%;
top:43%;
}
.playimg img{
  width: 75%;
}

.ex{
  display: none;
  position: absolute;
  left:60px;
  top:30px;
}
.react-multiple-carousel__arrow{
  bottom: 5px;
}
.react-multiple-carousel__arrow--left {
  
  left: calc(85% + 1px) !important;
  background-color: #9B0000 !important;
}
.react-multiple-carousel__arrow--right {
  background-color: #9B0000 !important;
}
.react-multi-carousel-dot--active button{
  background-color: #9B0000 !important; 
  border-color: #9B0000 !important;
}

.play{
  width: 5%;
}
.react-player {
  position: absolute;
  top: 0;
  left: 10%;
  /* display: none; */
}
.mbacol{
  width: 95%;
  color: #232323;
  font-family: Gilroy-Medium;
}
.mbalogo{
  width: 90%;

}
.case-text{
  width: 65%;
  font-family: Gilroy-Medium ;
  color: #232323;
}
/* .case-mainlogo{
  width: 80%;
 
} */
.case-logo{
  width: 15%;
  padding: 0 2rem;
  display: inline-flex;
  justify-content: center;
  padding-top: 20px;
}
.faq{
  background-color: #FCFCFE;
  box-shadow: 0px 1.77394px 2.6609px -0.443484px rgba(16, 24, 40, 0.1), 0px 0.886968px 1.77394px -0.886968px rgba(16, 24, 40, 0.1);
border-radius: 24px 24px 0px 0px;
}
.faqlist{
  cursor: pointer;
  font-family: Gilroy-Regular;
}
.faqh2{
  font-size: 50px;
  color: #9B0000;
  font-family: Gilroy-bold;
}
.faqthick{
  font-family: Gilroy-semibold;
  font-size: 18px;
}
.faqlight{
  font-size: 18px;
}
.elip{
  width: 30px;
  padding-right: 10px;
}
.faq-card-qst{
  color: #011F5B;
  font-family: Gilroy-bold;
}
.faq-card-ans{
  color: #232323;
  font-family: Gilroy-Medium;
}
.footlogo{
  width: 60%;
}
.firstfoot{
  width: 45%;
}
.foot-first-text{
  width: 90%;
  font-family: Gilroy-Medium;
}
.foottwo a{
  color:#0C0C0C;
  font-family: Gilroy-Medium;
}
.footw h5, .footc h5{
  color: #011F5B;
}
.copyr{
  font-size: 14px;
  color:#0C0C0C;
  font-family: Gilroy-Medium;
}
.searchbar{
  top:30%;
  left: 5%;
}
.srch{
  max-width: 130px;
  background-color: #9B0000;
  color: #FFFFFF;
}
.leftfilter p{
  font-family: Gilroy-medium;
}

.check{
  position: relative; overflow: hidden; width: 15px; height: 15px;
  border: 2px solid #9B0000;
  accent-color: #9B0000;
  border-radius: 3px;
}
.chk{
  left: -1px;
  top:-1px;
}
.see-course{
  width: 200px;
}
.txt{
  color: #9B0000;
}
.cert-box-course{
  width: 30%;
  background: #FFFFFF;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.16);
  border-radius: 24px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.no-price{
  text-decoration: line-through;
}
.page{
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  box-sizing: border-box;
}
.page-class, .label{
  width: 30px;
  box-shadow: 0 0 10px rgb(235, 234, 234);
  
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}.lin{
  color: #4E4E4E;
  cursor: pointer;
}

.label{
  background-color: #9B0000;
  color: #FFFFFF;
}
.page-active{
  color: #FFFFFF;
  background-color: #fda0a0;
}
.activelin{
  color: #FFFFFF;
}
.labellink{
  color: #FFFFFF;
}
.headerc{
  background-color: #FFFDFA;
}
.headereach{
  color: #9B0000;
  padding: 5rem;
}
.eachtitle{
  font-size: 60px;
  font-family: Gilroy-bold;
}
.eachbody{
  width: 600px;
  margin: auto;
  color: #232323;
  font-family: Gilroy-medium;
}
.eachtime span{
  font-family: Gilroy-regularItalic;
}
.eachtime{
  font-size: 20px;
}
.eachtime2 span{
  font-family: Gilroy-regularItalic;
}
.abtC{
  background-color: #FFFDFA;
  height: 720px;
  /* z-index: 1; */
}
.abt-body{
  position: relative;
}
.blueleft{
  height: 350px;
  width: 350px;
  background-color: #011F5B;
  border-bottom-left-radius: 50% ;
  border-top-left-radius: 50% ;
  /* position: absolute; */
  /* z-index: -1; */
}
.blueright{
  height: 350px;
  width: 350px;
  background-color: #011F5B;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  position: absolute;
  top: 35%;
  right: 0;
  /* z-index: -1; */
}
.square{
  /* height: 240px; */
  position: absolute;
  width: 380px;
  background-color: #F9D0D0;
  top: 25%;
  left: 20%;
  border-radius: 0 20px;
  padding: 2.5rem 1rem;
  z-index: 1;
}
.square-logo{
  width: 45px;
}
.square-logo2{
  width: 100px;
}
.square-logo3{
  width:100px;
}
.square-logo img, .square-logo2 img, .square-logo3 img{
  width: 100%;
}
.square-text{
  font-size: 20px;
  font-family: Gilroy-bold;
}
.square-textone{
  font-size: 32px;
  font-family: Gilroy-Medium;
}
.square-texttwo{
  font-family: Gilroy-regularItalic;
}
.abtC-textone{
  color: #011F5B;
  font-size: 42px;
  margin: 0;
  padding-bottom: 0;
}

.abtC-textthree{
  font-family: Gilroy-medium;
  color: #232323;
  width: 95%;
}
.learn{
  background-color: #FFFDFA;
}
.learnone, .learntwo{
  color: #232323;
}
.learnone li, .learntwo li {
  padding: 0.5rem 0;
  font-family: Gilroy-medium;
}
.learnone{
  width: 49%;
  background-color: #FFE9E9;
  border-radius: 20px;
  padding: 3rem;
}
.learntwo{
  width: 49%;
  background-color: #E2ECFF;
  border-radius: 20px;
  padding: 3rem;
}
.box-each{
  background-color: #011F5B;
  color: #FFFFFF;
  padding: 2rem 4rem;
  border-radius: 24px;
}
.box-eachtxt{
  width: 600px;
  font-family: Gilroy-Regular;
}
.verifyrow{
  width: 49%;
}
.verifytext{
  width: 600px;;
  font-family: Gilroy-black;
  font-size: 60px;
  color: #011F5B;
}
.verifytext span{
  color: #9B0000;
}
.verifytext2{
  width: 400px;
  color: #4E4E4E;
}
.abouttext{
  color: #4E4E4E;
  width: 430px;
}
.verifyimg{
  width: 45%;
}
.inpverify{
  background-color: #F0F0F0;
  border: none;
}
.accredit-container{
  padding: 2rem 8rem;
  box-sizing: border-box;
}
.accredit{
  box-sizing: border-box;
  box-shadow: 0px 0px 16.932px rgba(0, 0, 0, 0.16);
  margin-bottom: 16px !important;
}
.accredittext{
  /* width: 100%; */
  color: #4E4E4E;
  font-family: Gilroy-Regular;
}
.culture-box{
  width: 22%;
  padding: 4rem 0 2.5rem 0;
  box-shadow: 0px 0px 37px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  background-color: #FFFFFF;
}
.culture-text{
  font-family: Gilroy-Medium;
  color: #232323;
  font-size: 32px;
  padding-top: 0.5rem;
}
.padculture{
  margin: 2rem 0;
}
.dark-color{
  background-color: #FFFDFA;
}
.impact{
  background-color: #FFFDFA;
  padding: 7rem 3rem;
}
.impact-box{
  width: 57%;
  position: absolute;
  right: 0;
  top: 18%;
  padding: 3rem;
}
.impactimg{
  width: 100%;
}
.impactimg img{
  width: 50%;
}
.impacttext{
  color: #011F5B;
  font-size: 36px;
}
.impacttext2{
  color: #4E4E4E;
  font-family: Gilroy-Regular;
}
.impact-btn{
  width: 134px;
}
.reachout{
  width: 80%;
  margin: auto !important;
  padding: 5rem 0;
}
.reach-color{
  color: #4E4E4E;
}
.reachimg{
  width: 100%;
}
.reachimg img{
  width: 100%;
}
.reachtext{
  color: #011F5B;
  font-size: 48px;
}
.reachcol{
  width: 48%;
}
.icons-box{
  width: 100%;
  display: flex;
  justify-content: center;
   align-items: start;
}
.icons{
  width: 50%;
}
.icons-box2{
  width: 30%;
  display: flex;
  justify-content: center;
   align-items:start;
}
.icons2{
  width: 60%;
}

@media (min-width:1500px) {
  .header-maintext{
    width: 600px;
    font-size: 70px;
  }
  .first-part{
    margin: 5rem 0;
  }
  .header-text{
    width: 500px;
    font-size: 20px;
  }
  .header-logo, .header-btn, .header-btn2, .header-logomba{
    width: 450px;
    font-size: 20px;
  }
  .header-logomba{
    width: 600px;
  }
  .imgg{
    width: 60%;
  }
  .who-box, .culture-box{margin: 0 0 3rem 0;}
  .training h2, .cert{
    padding: 3rem 0;
  }
  
  .why-text{
    font-size: 20px;
  }
  .why-color2{
    height: 500px;
  }
  .viewbtn{
    width: 24%;
  }
  .saytext-box{
    width: 40%;
  }
  .say-text{
    width: 50%;
    font-size: 20px;
  }
  .say-comment{
    width: 500px;
    font-size: 20px;
  }
  .std{
       padding: 0;
  }
  .std2{
   padding: 0;
  }
  .mbacol{
    width: 70%;
    font-size: 20px;
  }
  .case-mainlogo{
    padding: 3rem 0;
  }
  .case-text{
    width: 40%;
  }
  .case-logo{
    width: 14%;
  }
  .firstfoot{
    width: 60%;
  }
  .foot-first-text{
    width: 250px;
  }
  .blueleft{
    height: 350px;
    width: 350px;
    background-color: #011F5B;
    border-bottom-left-radius: 50% ;
    border-top-left-radius: 50% ;
    /* position: absolute; */
    /* z-index: -1; */
  }
  .blueright{
    height: 350px;
    width: 350px;
    background-color: #011F5B;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    position: absolute;
    top: 35%;
    left: 320px;
    /* z-index: -1; */
  }
  .square{
    /* height: 240px; */
    position: absolute;
    width: 380px;
    background-color: #F9D0D0;
    top: 25%;
    left: 150px;
    border-radius: 0 20px;
    padding: 2.5rem 1rem;
    z-index: 1;
  }
  .verifytext{
    font-size: 60px;
  }
  .padculture{
    margin: 5rem 0;
  }
  
  
}

@media (max-width:997px) {
  .navlogo{
    width: 35%;
  }
  .footlogo{
    width: 75%;
  }
  .dpbigtext {
    color: #4E4E4E !important;
    font-family: Gilroy-Regular !important;
    font-size: 16px;
  }
  .header{
    flex-direction: column;
  }
  
  .headerbg{
    background: linear-gradient(180.29deg, rgba(1, 31, 91, 0.64) 0.25%, rgba(1, 31, 91, 0.9) 99.75%),url('./images/5a3e732812\ 1.png');
    background-size:cover;
    background-repeat: no-repeat;
  }
 
  .headerbgmini{
    /* background-size: ; */
    background: linear-gradient(180.29deg, rgba(1, 31, 91, 0.64) 0.25%, rgba(1, 31, 91, 0.9) 99.75%),url('./images/5a3e732812\ 2.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .header-maintext{
    font-size: 28px;
    text-align: center;
    margin-top: 70%;
    width: 100%;
  }
  .header2{
    margin-top: 85%;
  }
  .header-text{
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: 14px;
    padding: 5px 0;
  }
  .header-logo{
    width: 100%;
    margin: auto;
  }
  .header-btn, .header-btn2, .cert-btn{
    width: 100%;
  }
  .benefit h1{
    color: #011F5B;
    font-size: 28px;
  }
  .header-logomba{
    width: 100%;
    margin: auto;
    justify-content: center;
    
    /* justify-content: space-between; */
  }
  .second-img{
    width: 100%;
  }
  .cert-box, .training-box, .cert-box-course{
      width: 100%;
  }
  .cert-box h5{
    font-size: 18px;
  }
  .cert-text{
    font-size: 13.5px;
  }
  .viewbtn{
    width:100%;
  }
  .who-box, .culture-box{
    width: 100%;
  }
  .who-text{
    width: 100%;
  }
  .play{
    width: 15%;
  }
  .list-container{
    width: 100%;
    flex-direction: column;
    align-items: start;
  }
  .why-logo{
    width: 100%;
    border-radius: 24px;
    background-color: #232323;
    color: #FFFFFF;
  }
  .why-color2{
    height: 400px;
  }
  .say{
    width: 100%;
  }
  .say2{
    width: 100%;
  }
  .quote{
    width: 20px;
  }
  .butgroup{
    width: 30%;
  }
  .saylogo{
    width: 100%;
  }
  .saylogoimg{
    width: 100%;
  }
  .say-text{
    width: 100%;
  }
  .say-comment{
    width: 100%;
  }
  .wrapper{
    width: 100%;
    background: url("./images/afro.png");
    height: 350px;
    position: relative;
    background-size: contain;
    /* 
    padding-top: 56.25%;
    */
    background-repeat: no-repeat;
  }
  .wrapper2{
    width: 100%;
    background: #FFFDFA;
    height: 340px;
    position: relative;
    background-size:contain;
  }
  .video{
    width: 90%;
    height: 100%;
    margin: auto;
    display: none;
  }
  
  .playimg{
  position: absolute;
  left: 40%;
  top:30%;
  }
  .playimg img{
    width: 60%;
  }
  
  .ex{
    display: none;
    position: absolute;
    left:10px;
    top:20px;
  }
  
  .react-multiple-carousel__arrow--left, .react-multiple-carousel__arrow--right {
    display: none;
  }
  .mbalogo, .mbacol{
    width: 100%;
  }
  .case-text{
    width: 100%;
  }
  .case-mainlogo{
    width: 100%; 
  }
  .case-logo{
    width: 40%;
  }
  .faqh2{
    font-size: 30px;
  }
  .faqlight, .faqthick, .faq-card-ans{
    font-size: 15px;
  }
  .faqtitle{
    width: 80%;
    margin: auto;
  }
  .elip{
    width: 25px;
  }
  .foot-first-text{
    width: 100%;
    font-family: Gilroy-Medium;
  }
  .firstfoot{
    width: 100%;
}
  .footw{
  width: 40%;
  font-size: 14px;
  }

  .footw h5, .footc h5{
    font-size: 16px;
  }
  .footc{
    font-size: 14px;
  }
  .copyr{
    font-size: 12px;
  }
  .srch{
    max-width: 90px;
  }
  .headereach{
    padding: 1.5rem;
  }
  .eachtitle{
    font-size: 25px;
    /* margin: 0; */
  }
  .eachbody{
    width: 100%;
  }
  .eachtime{
    font-size: 16px;
  }
  .abtC{
    background-color: #FFFDFA;
    height: 100%;
    margin-bottom: 7.5rem;
    /* z-index: 1; */
  }
  .blueleft{
    height: 300px;
    width: 300px;
    background-color: #011F5B;
    border-bottom-left-radius: 50% ;
    border-top-left-radius: 50% ;
    /* position: absolute; */
    /* z-index: -1; */
  }
  .blueright{
    height: 300px;
    width:300px;
    background-color: #011F5B;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    position: absolute;
    top: 35%;
    right: 0;
    /* z-index: -1; */
  }
  .square{
    /* height: 240px; */
    position: absolute;
    width: 90%;
    background-color: #F9D0D0;
    
    left: 5%;
    border-radius: 0 20px;
    padding: 0 0.8rem;
    z-index: 1;
  }
  .square-logo{
    width: 40px;
  }
  .square-logo2{
    width: 100px;
  }
  .square-logo3{
    width:100px;
  }
  .square-logo img, .square-logo2 img, .square-logo3 img{
    width: 100%;
  }
  .square-text{
    font-size: 16px;
  }
  .square-textone{
    font-size: 25px;
  }
  
  .abtC-textone{
    color: #011F5B;
    font-size: 35px;
  }
  
  .abtC-textthree{
    width: 100%;
  }
  
  .learnone{
    width: 100%;
    padding: 1.5rem;
  }
  .learntwo{
    width: 100%;
    padding: 1.5rem;
  }
  .week3{
    background-color:#FFE9E9;
  }
  .week4{
    background-color:#E2ECFF;
  }
  .box-each{
    background-color: #011F5B;
    color: #FFFFFF;
    padding: 1.5rem;
    border-radius: 24px;
  }
  .box-eachtxt{
    width: 100%;
  }
  .verifyrow{
    width: 100%;
  }
  .verifytext{
    width: 100%;
    font-size: 32px;
  }
  .verifytext2{
    width: 100%;
  }
  .courses-dropdown{
    width: 120%;
    top:100%;
    padding: 1rem;
    z-index: 1;
  }
  
  .more-dropdown{
    width: 90%;
    top:79%;
    display: none;
    padding: 1rem;
    z-index: 1;
  }
  .accredit-container{
    padding: 1rem 2rem;
  }
  .abouttext{
    width: 100%;
  }
  .impact{
  padding: 2rem ;
  }
  .impact-box{
    width: 100%;
    position: relative;
    padding: 1.2rem;
  }
  .impactimg{
    width: 100%;
  }
  .impactimg img{
    width: 100%;
  }
  .impacttext{
    color: #011F5B;
    font-size: 36px;
  }
  .impact-btn{
    width: 134px;
  }
  .reachout{
    width: 100%;
    padding: 2rem 0;
  }
  .reachtext{
    font-size: 30px;
  }
  .reachcol{
    width: 100%;
  }

}

@media (min-width:280px) and (max-width:280px) {
  .header-maintext{
    font-size: 18px;
  }
  
  .header-logo{
    width: 100%;
    margin: auto;
  }
  
}